---
---
@import "jekyll-theme-hacker";

/* カスタムスタイル */

.news-item {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #333;
}

.news-item:last-child {
  border-bottom: none;
}

.news-item img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1em 0;
  display: block;
}

.post-footer {
  text-align: center;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #333;
  color: #888;
}

