// Dark mode colors for minima theme
$text-color:       #e7e9ea !default;
$background-color: #000000 !default;
$brand-color:      #1d9bf0 !default;

$grey-color:       #71767b !default;
$grey-color-light: #2f3336 !default;
$grey-color-dark:  #e7e9ea !default;

$table-text-color: #e7e9ea !default;
$table-zebra-color: #16181c !default;
$table-header-bg-color: #202327 !default;
$table-header-border: #2f3336 !default;
$table-border-color: #2f3336 !default;

$code-background-color: #202327 !default;
